* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.article {
  font-family: sans-serif;
  max-width: 450px;
  padding: 20px;
  background: #F2F3F7;
  margin: 0 auto;
  margin-top: 50px;
  opacity: 0.6;
  
}

.heading {
  font-size: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.wrapper-register{
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 2px;

} 

.text-header {
  padding: 10px 5px; 
  text-align: center;
}
  

.heading::before,
.heading::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: gray;
  
}
.heading::before {
  margin-right: 10px;
}
.heading::after {
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  
}
.div-input {
  width: 45%; 
} 

.input, 
.btn {
  margin: 10px; 
  padding: 10px;
}

.btn {
  padding: 10px 20px;
  color: white;
  background: green;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conteiner-checbox {
  display: flex;
  align-items: center;
 
}

.link {
  text-decoration: none;
  color: green;
}
